@charset "UTF-8";
/*Estilos del form login y registro */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-size: cover;
  /*Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-size: 400% 300%;
  animation: BgGradient 5s ease infinite; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s; }

.contenedor {
  width: 100%;
  padding: 15px; }

.formulario {
  background: #fff;
  margin-top: 150px;
  padding: 3px; }

h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px; }

input[type="text"],
input[type="password"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none; }

.input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa; }

.icon {
  min-width: 50px;
  text-align: center;
  color: #999; }

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer; }

.button2 {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 10px 209px;
  border-radius: 5px;
  cursor: pointer; }

.button:hover {
  background: cadetblue; }

p {
  text-align: center; }

.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600; }

.link:hover {
  color: cadetblue; }

@media(min-width:768px);
.formulario {
  margin: auto;
  width: 500px;
  margin-top: 150px;
  border-radius: 2%;
  /*Animaciónfondo- Background con flexbox */ }

@keyframes BgGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.contenedor1 {
  background: #ccc;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  /* Flexbox */
  display: flex;
  flex-flow: row wrap; }

body {
  background-image: url(../imagenes/fondo1.jpg); }

header {
  /*background:#2c3e50; */
  background-image: url(../imagenes/playa.jpg);
  width: 100%;
  padding: 20px;
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

header .logo {
  color: #fff;
  font-size: 30px; }

header .logo img {
  width: 180px;
  vertical-align: top;
  /*Formato texto Costa Rica */ }

header .logo a {
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  font-size: 30px;
  text-shadow: -2px -2px 1px blue; }

header nav {
  width: 50%;
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

header nav a {
  background: cadetblue;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  /* Flexbox */
  flex-grow: 1;
  /* Animación */ }

header nav a:hover {
  background: #e74c3c;
  box-shadow: 0px 5px 0px;
  border-radius: 15px; }

.main {
  background-image: url(../imagenes/fondo.jpg);
  padding: 20px;
  /*flex:1 1 70%; */
  flex: 1;
  flex-shrink: 1;
  flex-basis: 70%; }

aside {
  background: cadetblue;
  padding: 20px;
  /* flex:1 1 30%; */
  flex: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  /*flex:0 0 300px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start; }

aside .widget {
  background-image: url(../imagenes/logo1.png);
  height: 150px;
  margin: 10px; }

aside .widget1 {
  background-image: url(../imagenes/img3.jpg);
  height: 150px;
  margin: 10px; }

footer {
  width: 100%;
  padding: 20px;
  height: 50px;
  top: 80px;
  background: black;
  color: white;
  position: relative;
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: inline-block;
  text-align: center; }

@media screen and (max-width: 800px) {
  .contenedor {
    flex-direction: column; }

  header {
    flex-direction: column;
    padding: 0; }

  header .logo {
    margin: 20px 0; }

  header nav {
    width: 100%; }

  aside {
    flex-direction: row;
    flex: 0; }

  aside .widget {
    flex-grow: 1; } }
@media screen and (max-width: 600px) {
  aside {
    flex-direction: column; }

  footer {
    justify-content: space-around; } }
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /*background-size: cover */
  /*Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /*background-size: 400% 300% */
  /*animation: BgGradient 5s ease infinite */ }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  /*--Formato del titulo-- */ }

.header2 nav {
  overflow: hidden;
  /*Formato botones-lista menú navegación */ }

.header2 nav ul li {
  list-style: none;
  float: left;
  /*Formato texto-menú navegación */ }

.header2 nav ul li a {
  /*padding: 10px 10px */
  /*margin: 10px 10px */
  font-size: 20px;
  text-decoration: none;
  /*background: #3BA7E1 */
  color: white;
  /*display: block*/
   * /*box-shadow: 0px 5px 0px #1D64A6 */
  border-radius: 15px;
  margin: 114;
  padding: -4; }

.titulo {
  text-align: center;
  font-size: 20px;
  font-family: arial;
  margin-top: 20px;
  color: blue;
  text-shadow: 0px 0px 6px black;
  position: relative; }

/*----Formato correo electronico y # teléfono--- */
#info {
  color: white;
  font-size: 20px; }

#letra1 {
  margin-top: -15px;
  padding-left: 1000px; }

#letra2 {
  margin-top: -1px;
  padding-left: 1012px; }

/*Formato Tabla */
.table {
  font: 20px Verdana, Geneva, Arial;
  padding: 30px; }
  .table .col {
    width: 150px; }
  .table .th td {
    padding: 5px; }
  .table .thead tr {
    border: 1px solid #B10DC9; }
  .table .th {
    font-weight: bold; }
  .table .tbody tr hover {
    background-color: orange; }

@media screen and (max-width: 600px) {
  .header2 {
    flex-direction: column;
    padding: 0;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap; }

  .header2 nav {
    width: 100%; } }
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-size: cover;
  /*Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-size: 400% 300%;
  animation: BgGradient 5s ease infinite; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s; }

.header3 {
  overflow: hidden;
  /*Formato botones-lista menú navegación */ }

.header3 nav ul li {
  list-style: none;
  float: left;
  /*Formato texto-menú navegación */ }

.header3 nav ul li a {
  padding: 10px 20px;
  margin: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background: #3BA7E1;
  color: white;
  display: block;
  box-shadow: 0px 5px 0px #1D64A6;
  border-radius: 15px; }

/*----Formato correo electronico y # teléfono--- */
#info {
  color: white;
  font-size: 20px; }

#letra1 {
  margin-top: -15px;
  padding-left: 1000px; }

#letra2 {
  margin-top: -1px;
  padding-left: 1012px; }

@media screen and (max-width: 600px) {
  .header3 {
    flex-direction: column;
    padding: 0;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap; }

  .header3 nav {
    width: 100%; } }
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /*background-size: cover */
  /*Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /*background-size: 400% 300% */
  /*animation: BgGradient 5s ease infinite */ }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s; }

header nav {
  overflow: hidden;
  /*Formato botones-lista menú navegación */ }

header nav ul li {
  list-style: none;
  float: left;
  /*Formato texto-menú navegación */ }

header nav ul li a {
  padding: 10px 20px;
  margin: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background: #3BA7E1;
  color: white;
  display: block;
  box-shadow: 0px 5px 0px #1D64A6;
  border-radius: 15px; }

/*----Formato correo electronico y # teléfono--- */
#info {
  color: white;
  font-size: 20px; }

#letra1 {
  margin-top: -15px;
  padding-left: 1000px; }

#letra2 {
  margin-top: -1px;
  padding-left: 1012px;
  /*Contenedor de los formularios */ }

.conteform {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
  overflow: hidden; }

.form linea-formulario {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-center;
  /*---Formato borde los form-- */ }

.form .input__text:focus {
  border: 1px solid #084cdf; }

/*Formato de las cajas textos formulario */
.form .input__text {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*--Formato botón--- */ }

.btnasave {
  padding: 11px;
  color: #fff;
  background: #07c5cc;
  width: 319px;
  margin: 19px auto;
  margin-top: 16;
  border: 1;
  border-radius: 3px;
  cursor: pointer; }

.btnsave:hover {
  background-color: #07c5cc; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /*background-size: cover */
  /*Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /*background-size: 400% 300% */
  /*animation: BgGradient 5s ease infinite */ }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s; }

.titulo {
  text-align: center;
  font-size: 20px;
  font-family: arial;
  margin-top: 20px;
  color: blue;
  text-shadow: 0px 0px 6px black;
  position: relative; }

/*----Formato correo electronico y # teléfono--- */
#info {
  color: white;
  font-size: 20px; }

#letra1 {
  margin-top: -15px;
  padding-left: 1000px; }

#letra2 {
  margin-top: -1px;
  padding-left: 1012px; }

/*Formato contenedor de los formularios */
.contenedor {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
  overflow: hidden;
  /* Formato de los formularios */ }

.form form-group {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-center;
  /*---Formato borde los form-- */ }

.form .input__text:focus {
  border: 1px solid #084cdf; }

/*Formato de las cajas textos formulario */
.form .input__text {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*--Formato botón--- */ }

.btnaceptlo {
  padding: 10px;
  color: #fff;
  background: #0371a3;
  width: 320px;
  margin: 20px auto;
  margin-top: 18;
  border: 0;
  border-radius: 3px;
  cursor: pointer; }

.btnaceptlo:hover {
  background-color: #078ecc;
  /*--Formato tabla.. */ }

.titulo2 {
  text-align: center;
  font-size: 10px;
  font-family: arial;
  margin-top: 10px;
  color: blue;
  /*text-shadow:  0px 0px 6px black */
  position: relative; }

@media screen and (max-width: 600px) {
  .header2 {
    flex-direction: column;
    padding: 0;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap; }

  .header2 nav {
    width: 100%; } }

/*# sourceMappingURL=principal.css.map */
